body, html {
  height: 110%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: black;
  scroll-behavior: smooth;

}
html ::-webkit-scrollbar {
  display: none;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.border{
  font-weight: bolder;
  border: 0;
}

.about-content{

  margin-top: 2rem;
  letter-spacing: 2;
}

.navbar-nav li {

  margin-right: 2rem;
}




.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("header.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("header.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("header.png");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


.sercive-content{

  margin-top: 4rem;
  margin-bottom: 2rem;
}

.box {

  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.border {

  box-shadow: 3px 5px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


}




.box:hover , .border:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
} */

#footer{

  margin-top: 10rem;

}

.footer-content a {

  margin-left: 2rem;

}


.footer-content a:hover{
  color: #dc3545;

}


.fa-heart{

  margin-top: 4rem;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
